  <head>
    <title>Groceries - Roommates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width = device-width,    initial-scale = 1">

</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Roommates</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item   ">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/household">Households </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chores">Chores</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/groceries">Groceries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rent">Rent</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Groceries</h1>
Hey <%= user.firstName %>, here are the groceries for <%= household.name %> this week
<table class="table">
  <thead><th>Item</th><th>Requested by:</th><th colspan='2'>Actions</th></thead>
<% for (var i = 0; i < groceries.length; i++) { %>
     <tr id='item<%=groceries[i].id%>'><td><%= groceries[i].item  %></td><td><%= groceries[i].firstName %></td>
     <td>
    <% if (!groceries[i].purchased) { %>
      <form method="post" action="/groceries/<%=groceries[i].id%>"><button class='btn btn-primary btn-sm btn-block' onClick=''>Mark as Purchased</button></form>
    <% } else { %>
      <button class='btn btn-primary btn-sm btn-block' onClick='return false();' disabled>Already Purchased</button>
    <% } %>
   </td>
   <td style="width:1%;">
     <button class="btn btn-sm btn-danger delete" data-button='{"id": "<%=groceries[i].id%>"}' >Delete</button>
   </td>
  </tr>
<% } %>
</table>
<a class="btn btn-primary btn-block" href="/groceries/new">Add an item</a>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script>
  $(function(){
    function item(id) {
      return "#item" + id;
    }  
    $('.delete').on('click', function (e) {
  
        let res = confirm('Are you sure?');
        if (res) {      
          console.log($(this).attr("data-button"));
          data = JSON.parse($(this).attr("data-button"));
          fetch("/groceries/" + data.id, {
            method: 'DELETE'
          }).then(response => {
            if (response.status == 200) {
              // deletion succeeded
              $(item(data.id)).remove();
            } else {
              // error
              alert("An error occurred...")
            }
          })
          .catch(error => console.log("ERROR: " + console.log(error)));
        }
    });
  
  
  });
  </script>
</body>
